body{color: black;}
.navbar{background-color: grey;
		font-weight: bold;}

.navbar-toggler {border: black;}		

#head {text-align: center;
	vertical-align: middle;
		 justify-content: center;
		 font-size: 2rem;
		 font-weight: bold;
		 line-height: 1;
		 margin-top: 20px;
		 margin-bottom: -25px;}
		
 #text{justify-content: center;
	  align-items: center;
	background-color: grey;
	   width:50%;
	   height:70%;
	   padding: 15px;
	   margin: 70px 20px 0 20px;
	   	   line-height: 1.2;
	  position: absolute; left: 13%;}

/* centre a text **/

	 span{display: block;
	 	  text-align: center;
vertical-align: middle;
font-size: 1.3rem;
line-height: 1;
font-weight: bold;}


	


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) { #text{height: 100%;
							width: 70%;}
							}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { #navbarNav {display: none;}}
